{% extends 'html_structure/base.twig.html' %}

{# Nombre de Página #}
{% block page %}Inicio{% endblock %}

{# Css extras #}
{% block css_extras %}{% endblock %}

{# Contenido de Página #}
{% block page_contents %}
<main class="main-content">
			<!--
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			| Populate the page
			|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
			!-->
			<section class="section">
				<div class="container">
					<header class="section-header">
						<small>A M E C</small>
						<h2>Mesa Directiva  Bienio 2022 - 2023</h2>
						<hr>
					</header>


					<div class="row">
						<div class="col-lg-6 text-right">
							<h4>Presidenta</h4>
							<p class="lead-1"><strong>Dra. María Antonia Basavilvazo Rodríguez</strong></p>

							<h4>Vicepresidente</h4>
							<p class="lead-1"><strong>Dr. Víctor Manuel Vargas Hernández</strong></p>

							<h4>Secretaria</h4>
							<p class="lead-1"><strong>Dra. María Antonia Valdés Vargas</strong></p>

							<h4>Tesorera</h4>
							<p class="lead-1"><strong>Dra. Lorena Patricia Ferrer Arreola</strong></p>
						</div>
						<div class="col-lg-6 text-left">
							<h4>Secretario Suplente</h4>
							<p class="lead-1"><strong>Dr. Fernando Sánchez Aguirre</strong></p>

							<h4>Tesorero Suplente</h4>
							<p class="lead-1"><strong>Dra. Rosa María Sánchez Javier</strong></p>

							<h4>Vocales</h4>
							<p class="lead-1">
								<strong>
									Dr. Héctor Iván Guerra Malacara<br/>
									Dra. Patricia Loranca Moreno<br/>
									Dr. Alan Rios Espinosa<br/> 
									Dr. Gerardo Andrés Alba Jasso<br/>
									Dr. Samuel Santoyo Haro
								</strong>
							</p>
						</div>
					</div>
				</div>
			</section>
		</main>

{% endblock %}

{# js extras #}
{% block js_extras %}
{% endblock %}