<header class="header h-fullscreen pb-0 overflow-hidden">
			<div class="row h-100">
				<div class="container-fluid">
					<div class="slider-dots-inside" data-provide="slider" data-arrows="true" data-dots="true">
						<div class="h-fullscreen" style="background: url(img/background-main-003.jpg) no-repeat center center fixed; background-size: cover;">
							<div class="container">
								<div class="row py-10">
									<div class="col-lg-6">
										<img src="{{ asset('img/amec-logo-med.png') }}" alt="Asociación Mexicana para el Estudio del Climaterio, A.C." class="pb-6">
										<h4>Organización académica-científica, con fines no lucrativos, en la CDMX</h4>
										<p class="lead-2 fw-400 mb-7">
											Promotora de la educación médica continua al equipo médico multidisciplinario de salud.</p>
										<p class="gap-xy mt-5">
											<a class="btn btn-lg btn-round btn-danger w-200" href="mailto:contacto@amec.mx">Contáctenos</a>
										</p>
									</div>
									<div class="col-lg-5 ml-auto d-none d-lg-block">
										<img src="{{ asset('img/doctora-chihuahua.png') }}" alt="...">
									</div>
								</div>
							</div>
						</div>
						<div class="h-fullscreen" style="background: url(img/background-main-004.jpg) no-repeat center center fixed; background-size: cover;">
							<div class="container">
								<div class="row py-10">
									<div class="col-lg-6">
										<img src="{{ asset('img/amec-logo-med.png') }}" alt="Asociación Mexicana para el Estudio del Climaterio, A.C." class="pb-4">
										<h4>Eventos:<br/>Curso sabatino el 11 de junio, Congreso Nacional 8-10 de septiembre, durante el cual celebraremos nuestro 30 Aniversario y Congreso Regional 11 y 12 de noviembre.</h4>
										<p class="lead-2 fw-400 mb-7">
											Contamos con la modalidad virtual en nuestro eventos, lo que nos permite llevar la educación médica a cualquier parte del país e incluso al extranjero.</p>
										<p class="gap-xy mt-5">
											<a class="btn btn-lg btn-round btn-danger w-200" href="mailto:contacto@amec.mx">Contáctenos</a>
										</p>
									</div>
									<div class="col-lg-5 ml-auto d-none d-lg-block">
										<img src="{{ asset('img/doctora-chihuahua.png') }}" alt="...">
									</div>
								</div>
							</div>
						</div>
						<div class="h-fullscreen" style="background: url(img/background-main-005.jpg) no-repeat center center fixed; background-size: cover;">
							<div class="container">
								<div class="row py-10">
									<div class="col-lg-6">
										<img src="{{ asset('img/amec-logo-med.png') }}" alt="Asociación Mexicana para el Estudio del Climaterio, A.C." class="pb-6">
										<h4>Beneficios:<br/>Nuestros socios cuentan con beca completa en todos nuestros eventos los cuales otorgan puntaje para la certificación o recertificación al Consejo de Ginecología y Obstetricia y de Médicos Generales.</h4>
										<p class="lead-2 fw-400 mb-7">
											Otros beneficios: Acceso a artículos científicos, cursos previos grabados, eventos sociales, premios académicos y en un futuro podrás acceder a la revista virtual de Climaterio, contamos además con un seguro de vida.</p>
										<p class="gap-xy mt-5">
											<a class="btn btn-lg btn-round btn-danger w-200" href="{{ path('get.home.beneficios') }}">Conocer Más</a>
										</p>
									</div>
									<div class="col-lg-5 ml-auto d-none d-lg-block">
										<img src="{{ asset('img/doctora-chihuahua.png') }}" alt="...">
									</div>
								</div>
							</div>
						</div>
						<div class="h-fullscreen" style="background: url(img/background-main-001.jpg) no-repeat center center fixed; background-size: cover;">
							<div class="container">
								<div class="row py-10">
									<div class="col-lg-6">
										<img src="{{ asset('img/amec-logo-med.png') }}" alt="Asociación Mexicana para el Estudio del Climaterio, A.C." class="pb-6">
										<h4>Inscripciones: BBVA número de cuenta</h4>
										<h5>Deposito o Transferencia</h5>
										<p class="lead-2 fw-400 mb-7">
											<strong>Datos Bancarios:</strong><br/>
											Beneficiario: Asociación Mexicana para el Estudio del Climaterio AC<br/>
											Banco: BBVA<br/>
											Cuenta: 0194018532<br/>
											Clabe: 012180001940185329
										</p>
										<p class="gap-xy mt-5">
											<a class="btn btn-lg btn-round btn-danger w-200" href="{{ path('get.home.requisitos') }}">Conocer Más</a>
										</p>
									</div>
									<div class="col-lg-5 ml-auto d-none d-lg-block">
										<img src="{{ asset('img/doctora-chihuahua.png') }}" alt="...">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	