<header id="home" class="header h-fullscreen text-center text-lg-left bg-fixed" style="background-image: url({{ asset('img/background-main-003.jpg') }});">
			<div class="container">
				<div class="row align-items-center h-100">

					<div class="col-lg-6">
						<img src="{{ asset('img/amec-logo-med.png') }}" alt="Asociación Mexicana para el Estudio del Climaterio, A.C." class="pb-6">
						<h4>"Trabajando juntos por a salud de la mujer"</h4>
						<p class="lead-2 fw-400 mb-7">
							Es una organización científica no lucrativa, interesada en el estudio y la difusión de los cambios que sufre la mujer durante la etapa del climaterio y la posmenopausia. </p>
						<p class="gap-xy mt-5">
							<a class="btn btn-lg btn-round btn-danger w-200" href="mailto:contacto@amec.mx">Contáctenos</a>
						</p>
					</div>

					<div class="col-lg-6 ml-auto d-none d-lg-block">
						<img src="{{ asset('img/doctora-chihuahua.png') }}" alt="...">
					</div>

				</div>
			</div>
		</header>