{% extends 'html_structure/baseContent.twig.html' %}

{# Nombre de Página #}
{% block page %}Contáctenos{% endblock %}

{# Css extras #}
{% block css_extras %}{% endblock %}

{% block page_contents %}
    <h1>Page not found</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('get.home') }}">return to the homepage</a>.
    </p>
{% endblock %}

{# js extras #}
{% block js_extras %}
{% endblock %}